{% import "macro/core.twig" as core %}
{% block body %}
  {% set id = 1 %}
Комментарии к статье

  <br/> <br/>
  <table>
    <caption>Комментарии</caption>
    <tr><th>log id</th><th>Коммент</th><th>Что-то еще</th></tr>

    {% for item in comm %}
    <tr>
      <td>Id: {{item.id}} </td>
      <td width="400"> {{item.content}} </td>
      <td>{{item.dateCreated |date('Y-m-d')}} </td>
      {% endfor %}
  </table>
  ----------------------------------------------
  previous = {{ previous }}  next= {{ next }}
  ---------------------------------------------

  {% if comm|length > 0 %}
    <div>Найдено записей: {{ comm|length }}</div>

    <br/> <br/>
    {% if previous >= 0 %}
      <a href="{{ path('show_comments_by_id', { 'id':  id, 'page':previous}) }}">Previous</a>
    {% else %}Previous
    {% endif %}

    {% if next < comm|length %}
      <a href="{{ path('show_comments_by_id', { 'id': id, 'page':next}) }}">Next</a>
    {% else %}Next
    {% endif %}

  {% else %}
    <div>Нет комментарев пользователей.</div>
  {% endif %}
  <a href="{{ path('show_articles') }}">   Вернуться к статьям</a>


{% endblock %}


