{% extends 'base.html.twig' %}
{% import "macro/core.twig" as core %}
{% block body %}
  <br/> <br/>
  Таблица всех пользователей
  <table>
  {% for item in items %}
  <tr>
    <td>Name: {{item.firstname | upper}}</td>
    <td>IP: {{'        '}}</td>
    <td>Id: {{item.id}} -</td>
    <td><form action="{{ path('show_user_by_id', { 'id': item.id}) }}"
              method="POST">
        <button>show user old</button>
      </form>
    </td>
    <td><form action="{{ path('show_user_info_by_id', { 'id': item.id, 'page':page}) }}"
              method="POST">
        <button>show user new</button>
      </form>
    </td>
    <td><form action="{{ path('gen_comment_by_id', { 'id': item.id}) }}"
              method="POST">
        <button>gen comment</button>
      </form>
    </td>
    <td><form action="{{ path('show_form_add_comment_by_id', { 'id': item.id}) }}"
              method="POST">
        <button>add comment</button>
      </form>
    </td>
    <td><form action="{{ path('delete_user_by_id', { 'id': item.id}) }}"
              method="POST">
        <button>delete</button>
      </form>
    </td>
  </tr>
  {% endfor %}
  </table>


  <br/> <br/>
  {% if previous >= 0 %}
    <a href="{{ path('show_users', {'page':previous}) }}">Previous</a>
  {% else %}Previous
  {% endif %}

  {% if next < items|length %}
    <a href="{{ path('show_users', {'page':next}) }}">Next</a>
  {% else %}Next
  {% endif %}
  <br/> <br/>


  <form action="{{ path('gen_user', { 'isLog': 0}) }}" method="POST">

    <p style="text-align: left"><button > Добавление пользователя - gen_user -isLog = 0 </button> </p>
  </form>

  <form action="{{ path('show_form_add_new_user') }}" method="POST">

    <p style="text-align: left"><button > Добавление пользователя с валидацией - createUser</button> </p>
  </form>


  <form action="{{ path('gen_user', { 'isLog': 1}) }}" method="POST">

    <p style="text-align: left"><button > Добавление пользователя c логами IP gen_user -isLog = 1</button> </p>
  </form>


  <button onclick="document.location='/add2'">Переход2 по ссылке</button>
{% endblock %}

        {% block content %}
          <h1>Inherited text content1</h1>
          ************ Этот блок выполняться не будет!!!!!!!!!!!!!!!!!
          здесь использовано наследование в Twig
          после этой строки идет вызов
          <form action="/api/admin2" method="POST">

          <p style="text-align: center"><button > Добавление/удаление пользователей</button> </p>
</form>

{% endblock %}

