{% import "macro/core.twig" as core %}
{% block body %}
  {% set id = 1 %} <br/> <br/>
  Информация по пользователю
  {% for item in info %}
     id: {{ item.id }},  FirstName: {{ item.name }},  email: {{ item.email }}  <br/> <br/>
    Права пользователя:
    {{ item.roles|json_encode() }}
  {% set id = item.id %}
  {% endfor %}  <br/> <br/>
  <br/> <br/>
  ---------------------------------------------
<table>
  <caption>Комментарии пользователя</caption>
  <tr><th>comm id</th><th>comment</th><th>date time</th></tr>
  {% for item in items %}
  <tr>
    <td>Id: {{item.id}} </td>
    <td width="400"> {{item.content}} </td>
    <td>{{item.dateCreated |date('Y-m-d')}} </td>
  {% endfor %}
    </table>
  ----------------------------------------------
  <br/> <br/>
<table>
  <caption>Подключения пользователя</caption>
  <tr><th>log id</th><th>ip adress</th><th>date time</th></tr>

  {% for item in iplog %}
  <tr>
    <td>Id: {{item.id}} </td>
    <td width="400"> {{item.ipadr}} </td>
    <td>{{item.datecreated |date('Y-m-d')}} </td>
  {% endfor %}
</table>
  ----------------------------------------------
  previous = {{ previous }}  next= {{ next }}
  ---------------------------------------------

  {% if iplog|length > 0 %}
  <div>Найдено записей: {{ iplog|length }}</div>

  <br/> <br/>
  {% if previous >= 0 %}
    <a href="{{ path('show_user_info_by_id', { 'id':  id, 'page':previous}) }}">Previous</a>
  {% else %}Previous
  {% endif %}

  {% if next < iplog|length %}
      <a href="{{ path('show_user_info_by_id', { 'id': id, 'page':next}) }}">Next</a>
  {% else %}Next
  {% endif %}

  {% else %}
    <div>Нет записей о подключениях пользователя.</div>
  {% endif %}
 <a href="{{ path('show_users', {'page': 0}) }}">   Вернуться к пользователям</a>

{% endblock %}

